<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Formulaire de contact</h1>
    <form action="/form" method="get">
        <label for="prenom">Prenom:</label>
        <input type="text" name="prenom" id="prenom">
        <br>
        <label for="nom">Nom:</label>
        <input type="text" name="nom" id="nom">
        <br>
        <button>Envoyer</button>
    </form>
</body>
</html>