<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenue sur la page d'accueil</h1>
    <p>Je vous souhaite une agréable visite sur notre site</p>

    <p>Pour accéder au formulaire pour envoyer vos coodonnées,cliquez sur le bouton</p>
    <button type="button"><a style="text-decoration: none;" href="/formulaire">Formulaire</a></button>
</body>
</html>