
    <header>
        <ul style="border: solid 1px black;">
            <li style="border: solid 1px blue;">Accueil</li>
            <li style="border: solid 1px green;">Produits</li>
            <li style="border: solid 1px violet;">Qui somme-nous ?</li>
        </ul>
    </header>
